<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/style.css')}}">
    <title>Add Book</title>
</head>
<body>
    {% for message in get_flashed_messages() %}
        <h4 style="color:green ;background-color:lightgreen">{{ message }}</h4>
    {% endfor %}
    <nav><a href="/home">Home</a></nav>
    <div class="block">
        <div>
            <h1 class="header">Add New Book</h1>
            <hr class="rooler">
        </div>
        <div class="center">
            <form action="/addBook" method="post">
                <div>
                    <label for="title">Book Title</label><br>
                    <input type="text" name="title" id="title" required>
                </div>
                <div>
                    <label for="author">Author</label><br>
                    <input type="text" name="author" id="author" required> 
                </div>
                <div>
                    <label for="isbn">ISBN</label><br>
                    <input type="text" name="isbn" id="isbn" required>    
                </div>
                <div>
                    <label for="pubDate">Publish Date</label><br>
                    <input type="date" name="pubDate" id="pubDate" required>    
                </div>
                <div>
                    <label for="publication">Publication</label><br>
                    <input type="text" name="publication" id="publication" required>      
                </div>
                <div>
                    <label for="nob">No Of Books</label><br>
                    <input type="number" name="nob" id="nob" required>  
                </div>
                <div>
                    <input type="submit" value="Save">
                </div>
                
            </form>
        </div>
    </div>
</body>
</html>