<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/style.css')}}">
    <title>Add User</title>
</head>
<body>
    <nav><a href="/home">Home</a></nav>
    <div class="block">
        <div  class="header">
            <h1>Add New User</h1>
            <hr class="rooler">
        </div>
        <div class="center">
            <form action="\addUser" method="post">
                <div>
                    <label for="name">User Name</label><br>
                    <input type="text" name="name" id="name" required>
                </div>
                <div>
                    <label for="mail">Mail ID</label><br>
                    <input type="email" name="email" id="email" required>      
                </div>
                <div>
                    <label for="password">Password</label><br>
                    <input type="password" name="password" id="password" required>   
                </div>
                <div>
                    <label for="phno">Phone Number</label><br>
                    <input type="tel" id="phno" name="phno" pattern="[0-9]{10}" required>
                </div>
                <div>
                    <label for="gender" required>Gender</label>
                </div>
                <div class="radio">
                    <input type="radio" id="male" name="gender" value="Male" required>
                    <label for="male">Male</label>
                    <input type="radio" id="female" name="gender" value="female" required>
                    <label for="female">FeMale</label>
                    <input type="radio" id="others" name="gender" value="others" required>
                    <label for="others">Others</label>
                </div>
                <div>
                    <label for="bloodgroup">Blood Group</label>
                </div>
                <select name="bloodgroup" data-placeholder="Select Blood-Group" id="bloodgroup" required>
                    <option>A Positive</option>
                    <option>A Negative</option>
                    <option>A Unknown</option>
                    <option selected>B Positive</option>
                    <option>B Negative</option>
                    <option>B Unknown</option>
                    <option>AB Positive</option>
                    <option>AB Negative</option>
                    <option>AB Unknown</option>
                    <option>O Positive</option>
                    <option>O Negative</option>
                    <option>O Unknown</option>
                    <option >Unknown</option>
                </select>
                <div class="textArea">
                    <label for="address">Address</label>
                </div>
                <textarea name="address" id="address" cols="30" rows="3" required></textarea>   
                <div>
                    <label for="userType">User Type</label>
                </div>
                <select name="userType" id="userType" required>
                    <option>Select User Type</option>
                    <option value="admin" >Admin</option>
                    <option value = "member">Member</option>
                </select>   
                <div>
                    <input type="submit" value="Save">
                </div>
            </form>
        </div>
    </div>
</body>

</html>