<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/style.css')}}">
    <title>Edit User</title>
</head>
<body>
    <nav><a href="/home">Home</a></nav>
    <div class="block">
        <div>
            <h1 class="header">Edit User</h1>
        </div>
        <div class="center">
            <form action="/editUser/{{user[2]}}" method="post">
                <div>
                    <label for="name">User Name</label><br>
                    <input type="text" name="name" id="name" value = {{user[0]}} required>   
                </div>
                <div>
                    <label for="mail">Mail ID</label><br>
                    <input type="email" name="email" id="email" value = {{user[1]}} readonly>      
                </div>
                <div>
                    <label for="password">Password</label><br>
                    <input type="password" name="password" id="password" value = {{user[3]}} required>       
                </div>
                <div>
                    <label for="phno">Phone Number</label><br>
                    <input type="tel" id="phno" name="phno" pattern="[0-9]{10}" value = {{user[4]}} required>
                </div>
                <div>
                    <label for="gender">Gender</label>  
                </div>
                <select name="gender" required>
                    <option>{{user[5]}}</option>
                    <option>Male</option>
                    <option>Female</option>
                    <option>Others</option>
                </select>
                <div>
                    <label for="bloodgroup">Blood Group</label> 
                </div>
                <select name="bloodgroup" required>
                    <option>{{user[6]}}</option>
                    <option>A Positive</option>
                    <option>A Negative</option>
                    <option>A Unknown</option>
                    <option>B Positive</option>
                    <option>B Negative</option>
                    <option>B Unknown</option>
                    <option>AB Positive</option>
                    <option>AB Negative</option>
                    <option>AB Unknown</option>
                    <option>O Positive</option>
                    <option>O Negative</option>
                    <option>O Unknown</option>
                    <option >Unknown</option>
                </select>
                <div>
                    <label for="address">Address</label>    
                </div>
                <textarea name="address" id="" cols="30" rows="3" required>{{user[7]}}</textarea>
                <div>
                    <label for="userType">User Type</label> 
                </div>
                <select name="userType" required>
                    <option>{{user[8]}}</option>
                    <option value="admin" >Admin</option>
                    <option value = "member">Meber</option>
                </select>   
                <div>
                    <input type="submit" value="Save">  
                </div>
            </form>
        </div>
    </div>
</body>
</html>