<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/style.css')}}">
    <title>Admin</title>
</head>
<body>
    
    <div class="grid-container">
        <div class="grid-item">
            <h1 class="header">Library Management System</h1>
        </div>  
        <hr class="rooler">
        {% for message in get_flashed_messages() %}
            <h4 class="message">{{ message }}</h4>
        {% endfor %}
        <div class="grid-container-link">
            <div class="grid-item-link">
                    <a href="/addUser">Add New User</a><br>
            </div>
            <div class="grid-item-link">
                <a href="/searchUser">search User</a><br>
            </div>
            <div class="grid-item-link">
                <a href="/addBook">Add New Book</a><br>
            </div>
            <div class="grid-item-link">
                <a href="/searchBook">search Book</a><br>
            </div>
            <div class="grid-item-link">
                    <a href="/issueBook">Issue A Book</a><br>
            </div>
            <div class="grid-item-link">
                <a href="/returnBook">Return Book</a><br>
            </div>
            <div class="grid-item-link">
                <a href="/issuedBook">Issued Books</a><br>
            </div>
            <div style="display:hide;" class="grid-item-link">
                <a class="logout" href="{{url_for('logout')}}">Logout</a>
            </div>
        </div>    
</body>
</html>