<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <h1>Library Management System</h1>
    <a href="/">Logout</a>
    <div>
       <div>
            <a href="/addUser">Add New User</a><br>
       </div>
        <div>
            <a href="/addBook">Add New Book</a><br>
        </div>
       <div>
            <a href="/issueBook">Issue A Book</a><br>
       </div>
        <div>
            <a href="/returnBook">Return Book</a><br>
        </div>
        <div>
            <a href="/issuedBook">Issued Books</a><br>
        </div>
        <div>
            <a href="/searchBook">search Book</a><br>
        </div>
        <div>
            <a href="/searchUser">search User</a><br>
        </div>
    </div>    
</body>
</html>