<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/table.css')}}">
    <title>Issued Book</title>
</head>
<body>
    <nav><a href="/home">Home</a></nav>
    <h1>Issued Books</h1>
    <hr>
    <div>
        <table>
            <thead>
                <tr>
                    <th>User Id</th>
                    <th>ISBN</th>
                    <th>Issue Date</th>
                    <th>Return Date</th>
                    <th>Fine</th>
                </tr>
            </thead>
            {% for book in books %}
                <tr>
                    <td>{{book[0]}}</td>
                    <td>{{book[1]}}</td>
                    <td>{{book[2]}}</td>
                    <td>{{book[3]}}</td>
                    <td>{{book[4]}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>