<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/style.css')}}">
    <title>Issue Book</title>
</head>
<body>
    <nav><a href="/home">Home</a></nav>
    <div class="block">
        <div>
            <h1 class="header">Issue Book</h1>
            <hr class="rooler">
        </div>
        <div class="center">
            <form action="/issueBook" method="post">
                <div>
                    <label for="userId">User ID</label><br>
                    <input type="text" name="userId" id="userId" required>
                </div>
                <div>
                    <label for="bookId">ISBN</label><br>
                    <input type="number" name="isbn" id="bookId" required>
                </div>
                <div>
                    <label for="issueDate">Issue Date</label><br>
                    <input type="date" name="issueDate" id="issueDate" required>
                </div>
                <div>
                    <input type="submit" value="Issue">
                </div>     
            </form>
        </div>
    </div>    
</body>
</html>