<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/table.css')}}">
    <title>Search Book</title>
</head>
<body>
    <nav><a href="/home">Home</a>
        <form action="/searchBook" method="post">
            <input type="search" name="title" id="search" placeholder="search book by name..." required>
            <input type="submit" value="Find">
        </form>
        <a href="/searchBook" class="all-book">Show All Books</a>
    </nav>
    <h1>Available Books</h1>
    <hr>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Title</th>                
                    <th>Author</th>
                    <th>ISBN</th>
                    <th>Publish Date</th>
                    <th>Publication</th>
                    <th>No Of Books</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            {% for book in books %}
                <tr>
                    <td>{{book[0]}}</td>
                    <td>{{book[1]}}</td>
                    <td>{{book[2]}}</td>
                    <td>{{book[3]}}</td>
                    <td>{{book[4]}}</td>
                    <td>{{book[5]}}</td>
                    <td><a class="btn-edit" href="{{url_for('editBook',bookId=book[2])}}">Edit</a></td>
                    <td><form action="/deleteBook/{{book[2]}}" method="post" 
                        onsubmit="return confirm('Are you sure you wish to delete?');">
                            <input class="btn-delete" type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>